@page "/qa"

<PageTitle> Quality Assurance : Rédaction tests acceptance</PageTitle>

<h4> QA : Rédaction des tests acceptance de la User Story</h4>

<div class="message-source-sender">en cours de rédaction</div>
<div class="message-bubble message-sender">
    <div class="loader">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </div>
</div>

@code {
}
