python-dotenv
openai
requests
ollama
langchain
langchain_community
langchain_core
langchain_openai
langchain_groq
langsmith
yfinance
pythonnet
langchain_chroma
google-generativeai
langchain-google-genai
langchain-google-vertexai
langchain-anthropic
rank_bm25
streamlit
langgraph
langchain-experimental
