@page "/MetierPoExchange"
@using PoAssistant.Front.Data
@using PoAssistant.Front.Services
@inject ThreadMetierPoService threadService

<PageTitle>Weather forecast</PageTitle>

<h1>Atelier de conception et cadrage Métier/PM</h1>

@if (messages == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="chat-container">
        @foreach (var message in messages)
        {
            <div class="@(message.IsSender ? "message-sender" : "message-receiver")">
                @message.Content
            </div>
        }
    </div>
}

@code {
    private ThreadModel? messages;

    protected override async Task OnInitializedAsync()
    {
        messages = threadService.GetPoMetierThread();
    }
}
