# LLM API KEYS
OPENAI_API_KEY=

### LLMs hub inference providers config. ###
OPENROUTER_API_KEY=
OPENROUTER_BASE_URL="https://openrouter.ai/api/v1"

PYTHONPATH=src
SERVE_DOCUMENTATION=True
ENVIRONMENT=development #development/built-lib/staging/production

COMPANY_NAME=Studi

# Learning Management System
LMS_TYPE=studi  # Options: studi, blackboard

REMOVE_LOGS_UPON_STARTUP=True


# AICommonTools Installation
# For development: local path to ai-commun-tools repository
AICOMMONTOOLS_LOCAL_PATH=C:/Dev/SkillForge/ai-commun-tools

# For production: Azure Artifacts feed
AZURE_ARTIFACT_FEED_URL=
AZURE_ARTIFACT_FEED_TOKEN=
AICOMMONTOOLS_VERSION=

# Common Tools installation extension (extras to install: database, qdrant, pinecone, ml, advanced, full)
COMMON_TOOLS_INSTALL_MODE=database,advanced,qdrant

# PostgreSQL Database
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=admin
POSTGRES_HOST=localhost:5432
POSTGRES_DATABASE_NAME=skillforge_dev

# JWT Authentication
JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
JWT_VERIFY_SIGNATURE=True

DEV_TOKEN=

ALLOW_ON_THE_FLY_LMS_RETRIEVAL_OF_UNKNOWN_USER=True
ALLOW_ON_THE_FLY_LMS_RETRIEVAL_OF_UNKNOWN_COURSE_HIERARCHY=True
ALLOW_ON_THE_FLY_LMS_RETRIEVAL_OF_UNKNOWN_LESSON_CONTENT=False

FAILS_ON_NOT_FOUND_USER=False
FAILS_ON_NOT_FOUND_COURSE_HIERARCHY=False
FAILS_ON_NOT_FOUND_LESSON_CONTENT=False

# Studi API host URI
OTHERS_API_BASE_URL=https://api.studi.fr
LMS_API_BASE_URL=https://app.studi.fr/ws/api

# Redis Cache
REDIS_ENABLED=False
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=
REDIS_TTL=3600

# Langfuse (prompt management/tracing/evaluation)
LANGFUSE_TRACING=false
LANGFUSE_API_PUBLIC_KEY=
LANGFUSE_API_SECRET_KEY=
LANGFUSE_API_URL=https://cloud.langfuse.com

# Langsmith tracing and observability
LANGCHAIN_TRACING_V2=false
LANGCHAIN_PROJECT="skillforge"
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY=
