@inherits LayoutComponentBase

<PageTitle>PoAssistant Front Site</PageTitle>
@* <div class="page">
    @Body
</div> *@

<div class="page">
    <NavMenu />
    <main id="mainContent">
        <div class="top-row px-4">
            <a href="https://www.studi.com" target="_blank">Studi.com</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>