@page "/po"

<PageTitle>Product Owner : Rédaction de la User Story</PageTitle>

<h1>Product Owner : Rédaction de la User Story</h1>


<button class="btn btn-primary" @onclick="IncrementCount">Rédiger</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
