src/facade/rag_evaluation_controller.py
src/application/evaluation_service.py
src/application/ragas_service.py

src/database_conversations/conversation_database.db
storage/

/outputs/logs/
/outputs/scraped/
/outputs/scraped-full/

senv/
.vscode/
__pycache__/
*.log
.git
*.log
*.pyc
*.pyo
*.pyd
